DATABASE_URL='' 
NEXTAUTH_URL='http://localhost:3000' 
NEXTAUTH_SECRET='' 
GOOGLE_CLIENT_ID='' 
GOOGLE_CLIENT_SECRET='' 
GOOGLE_DRIVE_REFRESH_TOKEN='' 
GOOGLE_DRIVE_UPLOAD_FOLDER_ID='' 
GOOGLE_SHEETS_CHECKPOINTS_ID='' 
DAILY_API_KEY=''
